@model SignInVM

<div class="container my-5">
    <div class="text-center d-flex justify-content-center">
        <form asp-action="Login" method="post" class="col-4">
            <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
            <input asp-for="Email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <input asp-for="Password" type="password" id="inputPassword" class="form-control my-1 mb-3" placeholder="Password" required="">
            @*
        <div class="checkbox mb-3">
            <label>
            <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
            *@
            <div class="text-danger validation" asp-validation-summary="All"></div>
            <button class="btn btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
</div>